*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Potta one', cursive;
}


/*index.html*/
#indexBackground{
 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/bg1.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  height: 140vh;
  color: white;

}


.heading1{

	padding-top: 150px;
}

.nav-link:hover{
  width: 100px;
  border: 3px solid black;
  background: gray;
  color: black;
  text-align: center;
}

.heading2{
	margin-top: 50px;
	font-size: 30pt;
	padding-top: 2px;
	padding-bottom: 20px;

}
	

 #indexContainer{
 	background-color: black;
 	color: white;
 	text-align: center;
 	margin-bottom: 0;
 	padding-top: 5px;




}


.card3{
	min-height:124vh;
	min-width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/asta4.jpg);
	background-size: cover;
	/*background-position: cover;*/
	background-repeat: no-repeat;
	transition: 3s;
	color: white;

	animation-name: animate2;
	animation-direction: alternate-reverse;
	animation-duration:15s;
	animation-fill-mode:forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;


 }

@keyframes animate2{
	0%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/asta4.jpg);
	}20%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/natsu2.jpg);
	}40%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/nezuko1.jpg);
	}
}




.card1{
	min-height:124vh;
	min-width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/saitama1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	transition: 3s;
	color: white;

	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-duration:15s;
	animation-fill-mode:forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;


 }

@keyframes animate{
	0%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/saitama1.jpg);
	}20%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/saitama2.jpg);
	}40%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/deku1.jpg);
	}
}


.card2 {
	min-height:124vh;
	min-width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/goblin1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	transition: 3s;
	color: white;

	animation-name: animate3;
	animation-direction: alternate-reverse;
	animation-duration:15s;
	animation-fill-mode:forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;


 }

@keyframes animate3{
	0%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/goblin1.jpg);
	}20%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/bofuri1.jpg);
	}40%{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/shield1.jpg);
	}
}

/*login.html*/
#loginBox{
	font-family: 'Potta one', cursive;
	opacity: 0.9;
	color: white;
}

#loginContainer{
background-image: url(../images/bg4.jpg);
	background-repeat: repeat-y;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 20px;

  }


.login [type="email"],.login [type="password"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:3px solid pink;
	padding: 14px 10px;
	width: 220px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25px;

}

.login [type="email"]:focus,.login [type="password"]:focus {
	width: 270px;
	border-color: solid pink;
}


#message {
	margin: 15px;
	font-size: 15px;
	text-decoration: none;
}



.login [type='submit']:hover{
	background: pink;

}

/*profile.html*/
#profileBackground{
	 background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/bg5.jpg); 
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin-bottom: 0;
	 padding-bottom: 20px;
	 height: 200vh;
	 color: white;
}

#profileContainer{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/bg6.jpg); 
	margin: 20px auto;
	text-align: center;
	border:5px solid #FFC400EC;
	padding: 10px 15px;
	outline: none;
	color: black;
	text-decoration-color: black;
	background-repeat: no-repeat;
	 background-size: cover;


}

#profileBg{
	background-color: black;
	margin: 20px auto;
	text-align: center;
	border:5px solid #FFC400EC;
	padding: 10px 15px;
	outline: none;
	color: white;
	
}

#profileCourseBg{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/bg5.jpg); 
 	 background-repeat: no-repeat;
	 background-size: contain;
	 margin-bottom: 0;


}

/*enter.html*/
#enterBg{
 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/enter1.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 20px;
  height: 140vh;
  color: white;
  align-items: center;

}
.enterBox {
	opacity:0.8;
	padding-top: 80px;
	
}

/*register.html*/
#registerContainer{
 background-image: url(../images/regbg.jpg); 
  background-repeat: repeat-x;
  background-size: cover;
  color: white;

  }

 #registerBox{
 	 opacity: 0.8;
 }


#registerEnterBg{
 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/registerenter.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 20px;
  height: 140vh;
  color: white;
  align-items: center;

}
.registerEnterBox {
	opacity:0.6;
	
}

/*courses.html*/

#courseContainer{
 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/coursebg.jpg); 
  background-repeat: repeat-y;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 20px;
  height: 140vh;
  color: grey;
  align-items: center;

}

.courseContainerBg{
	background-color: black;
}


#skillContainer{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/skillbg.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
}

#skillBox{

	opacity: 0.4;
	color: black;
}


/*addCourse.html*/
#addCourseContainer{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/skillBody.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
}


#addCourseBox{
	opacity: 0.4;
	color: white;

}
#editProfileContainer{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/editBg.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
}

#editProfileBox{

	opacity: 0.4;
	color: white;
}


#coursesCardBackground{
	background-color: grey;
	color: white;
}

#editSkills{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/aa.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
}

#editSkillBox{

	opacity: 0.4;
	color: white;
}
